#testPart1.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart2.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart3.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart4.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}
#testPart5.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart6.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart7.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart8.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart11.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart12.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart13.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#testPart14.changeColor {
    color: #000000;
    opacity: 1;
    font-weight: bold;
}
