body {
    font-family: "Open Sans";
    margin: 0;
}

label {
    font-size: 13px;
}

/* Paths for major viz and zoomedIn view */
.path.main{
    stroke-width: 5;
}

.path.zoomed{
    stroke-width: 5;
}

/* Overall tooltips */
.d3-tip{
    font-size: 20px;
}


.tip1{

}

.tip2{

}

.tip3{

}

/* main axis */
.axis{

}

.axis.x {

}

.axis.y {

}
